header {
    display: flex;
    background: grey;
    color: white;
    height: 100px;
    padding: 15px;
}

.left-menu {
    display: flex;
    width: 80%;
}

.logo {
    width: 40%;
}

.menu {
    display: flex;
    width: calc(100%/4);
    justify-content: flex-start;
    align-items: flex-end;
}

.menu-1 {
    width: calc(100%/4);
    display: flex;
}

.menu-2 {
    width: calc(100%/4);
    display: flex;
}

.menu-3 {
    width: calc(100%/4);
    display: flex;
}

.menu-4 {
    width: calc(100%/4);
    display: flex;
}

.reight-menu {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

